p, #hobby-list, #contact-list,figcaption, nav a {
    font-family:Lora, serif;
    font-size: 18px;
}

/* Site background color */
body {
    background: #f7f9fbf7;
}
/* Enable sticky header/nav behavior */
header {
    top: 0;
    position: sticky;
    z-index: 1000;
    
}
/* Add site-wide margin for presentation */
main {
    margin: 50px;
}

/* Style top page h1 header */
.page-header{
    font-size: 3em;
    margin: 0;
    background-color: #112D32;
    padding: 10px; 
    box-shadow: 0 0 10px black;
    text-align: center;
    font-family: Merriweather, serif;
    /* font-size: 46px; */
    height: 65px;
    color:#88bdbc;
}

/* Navigation menu styling */
nav ul {
    /* Top horizontal nav */
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #4F4A41;
    border-bottom: 2px ridge black;
    box-shadow: 0 0 10px black;
    text-align: center;
}

/* Set horizontal nav buttons */
nav li {
    display: inline;
}

/* Centered horizontal navigation buttons */
nav a {
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    transition: color 0.2s, background-color 0.2s;
}

/* Button link state formatting */
a:link {
    color:#d1d7e0;
    /* text-decoration:underline; */
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  */
}  

  a:hover {
    color:black;
    background-color:#88BDBC;
    border-radius: 2px;
    /* font-size: 21px; */
    /* text-decoration:double; */
    }

  a:visited {
    color:#d1d7e0;
    text-decoration: none;
    }

  a.active {
    background-color: #88BDBC;
    color: rgb(8, 53, 66);
    /* font-size:21px; */
    font-weight: bolder;
    border-radius: 2px;
  }

 

/* Page title h2 header formatting */
h2 {
    font-family: Merriweather, serif;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
    color:cadetblue;
}
/* Special styling for home page text block */
#home-coding-text {
    margin: 0px 50px 25px;
    /* box-sizing: border-box; */
    background: #6E6658;
    color:whitesmoke;
    padding: 2px 15px 2px;
    border:#112D32 2px solid;
}

/* IMAGE GALLERY - formatting for home/about pages */
.gallery-wrapper {
    display: flex;
    justify-content: center;
}

  div.gallery {
    align-items: center;
    margin: 10px;
    width: 500px;
    transition: width 0.6s;
  }
  /* Highlight selected picture */
  div.gallery:hover {
    border: 1px solid #777;
    background-color: #c6dfde;
    color: black;
    width: 475px;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* Description text */
  div.desc {
    padding: 10px;
    margin-top: 0;
    text-align: center;
    font-style: italic;
    font-family:Lora;
  }

/* Image formatting for responsive images */
img {
    max-width: 100%;
    height: auto;
    display:inline-block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Image styling variation for centered images */
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
    margin-bottom: 8px; 
}

/* Flexbox setup for Career page 2 column image/text layout */
.work-experience {
    display: flex; /* Use Flexbox */
    align-items: flex-start; /* Align items at the start of the flex container */
  }
  
  .images-column {
    flex: 0 0 auto; /* Set images column width to its content */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Arrange images in a column */
  }
  
  .text-column {
    flex: 1; /* Let text column take remaining space */
    padding-left: 20px; /* Adjust the space between columns */
  }
  
  .img-career {
    max-width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 16px;
    margin-bottom: 8px; 
  }

/* Formatting for embedded youtube videos */
iframe {
    /* Create a container for player */
    border: 4px outset #112D32;
    border-radius:4px;
    background-color:#88BDBC;
    padding: 5px;
    /* Move style/size from html > css */
    width: 550px;
    height: 315px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Format iframe for embedded resume PDF */
#resume {
    width: 75%;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px outset #112D32;
    border-radius:2px;
}

/* Unique list styling for About page */
#hobby-list {
    list-style-type:square;
    background: #ddd;
    border-style: outset;
    border-width: 4px;
    margin-left: 8px;
    width: 25%;
    border-radius: 5px;
}
/* Style page breaks Contact page */
hr {
    border: 10px solid #112D32;
    border-radius: 5px;
}
/* Style definition list on Contact page */
#contact-list dt {
    font-style: italic;
    font-weight: bolder;
}
  #contact-list dd {
    padding: 10px;
    text-indent: 28px;
}

/* Google Icon experiments */
.material-symbols-outlined {
    font-size: 36px;
}

/* Coursework page table design */
#coursework {
    border-collapse: collapse;
    width: 85%;
    /* Auto-center table - responsive */
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

  #coursework td, #coursework th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Inspired by W3 school advanced table example */
  #coursework tr:nth-child(even){
    background-color: #f2f2f2;
}
  
  #coursework tr:hover {
    background-color: rgb(187, 179, 167);
}

  #coursework tfoot {
    font-weight: bold;
    font-style: italic;
}
  
  #coursework th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: cadetblue;
    color: white;
}

/* RANDOM CAT - Button/img styling */
#cat-button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* top: 120px; */
    /* right: 8px; */
    /* margin: 0; */
    background-color: rgb(22, 77, 81);
    color:white;
    width: auto;
    height: auto;
    padding: 8px;
    border-style:outset;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#cat-button:hover {
    background-color:rgb(30, 107, 113);
}

#random-cat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

/* Style a button for LinkedIn link on Career page*/
#linkedin-button {
    color: #0077b5;
    font-size: 24px;
    border: none;
    background-color: #e9e6e6;
    border-radius: 5px;
    cursor: pointer;
}
#linkedin-button:hover {
    background-color: rgb(227, 222, 222);
}

/* Styling for dark mode */

#toggle-button {
    position:fixed;
    display:inline-block;
    /* top: 25vh; */
    /* left: 4vw; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    top: 32px;
    right: 8px;
    z-index: 1000;

    background-color: rgb(22, 77, 81);
    color:white;
    width: auto;
    height: auto;
    padding: 8px;
    /* border-style:inset; */
    /* border-radius: 4px; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

#toggle-button:hover {
    background-color:rgb(30, 107, 113);
}
.dark-mode {
    background-color: #121212;
    color: white;
}

/* MEDIA QUERIES - BREAKPOINTS */
/* Small/tablet screen */
@media screen and (max-width: 992px){
    body {
        /* background-color: rgba(24, 119, 120, 0.942); */
        color: #0e0d0d;
        
    }
    .page-header {
        font-size: 34px;
        height:fit-content;
    }
    nav a {
        padding: 10px 20px;

    }
}

/* Mobile screen */
@media screen and (max-width: 600px){
    body {
        /* background-color: rgb(3, 25, 25); */
        /* color: white; */
        /* text-align: center; */
    }
    /* Adjust page header size/font */
    .page-header {
        font-size: 20px;
        height: fit-content;
    }
    p {
        font-size: 12pt;
    }
    /* Adjust youtube video player size */
    iframe {
        max-width: 90%;
    }
    /* Switch to vertical nav and condense */
    nav a {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    /* Adjust about page list to fit */
    #hobby-list {
        width: auto;
    }
    /* Adjust dark mode button */
    #toggle-button {
        width: 60px;
        height: auto;
        font-size: 12px;

    }
}

/* Site footer styling to match header and top border */
footer{
    border-top: 2px ridge #88BDBC;
    border-top-width: 4px;
    text-align:center;
    background-color: #112D32;
    padding: 10px;
    height: 50px;
    font-family: Merriweather;
    color: #88BDBC;
    font-weight:bold;
}

